html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    background: rgb(254,252,253);
    background: -moz-radial-gradient(circle, rgba(254,252,253,1) 0%, rgba(250,222,221,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(254,252,253,1) 0%, rgba(250,222,221,1) 100%);
    background: radial-gradient(circle, rgba(254,252,253,1) 0%, rgba(250,222,221,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fefcfd",endColorstr="#fadedd",GradientType=1);
}
.bottom_svg{
    position: absolute;
    bottom: 0;
    left: 0;
}

.top_svg{
    position: absolute;
    top: 0;
    left: 0;
}

/*phone*/
@media only screen and (max-device-width : 540px) and (max-device-width : 540px) and (orientation : portrait){

    #roof{
        transform: scale(2.7);
        transform-origin: 49% 0%;
    }

    #window_left{
        transform: translate(-13%, 10%);
    }

    #window_right{
        transform: translate(15%);
    }

    #board{
        transform-origin: 49% -10%;
        transform: scale(3);
        -webkit-animation: boardPhone 1.8s ease-in-out .5s infinite alternate;
        -moz-animation: boardPhone 1.8s ease-in-out .5s infinite alternate;
        animation: boardPhone 1.8s ease-in-out .5s infinite alternate
    }

    @keyframes boardPhone {
        0%{
            transform-origin: 49% -10%;
            transform: scale(3);
        }
        100%{
            transform-origin: 49.8% -10%;
            transform: scale(3);
        }
    }

    @-webkit-keyframes boardPhone {
        0%{
            transform-origin: 49% -10%;
            transform: scale(3);
        }
        100%{
            transform-origin: 49.8% -10%;
            transform: scale(3);
        }
    }

    @-moz-keyframes boardPhone {
        0%{
            transform-origin: 49% -10%;
            transform: scale(3);
        }
        100%{
            transform-origin: 49.8% -10%;
            transform: scale(3);
        }
    }

    #plane{
        transform: scale(2);
        transform-origin: 34% -27%;
        -webkit-animation: planePhone 1.75s ease-in-out .5s infinite alternate;
        -moz-animation: planePhone 1.75s ease-in-out .5s infinite alternate;
        animation: planePhone 1.75s ease-in-out .5s infinite alternate
    }

    @keyframes planePhone {
        0%{
            transform: scale(2);
            transform-origin: 34% -27%;
        }
        100%{
            transform: scale(2.1);
            transform-origin: 32% -23%;
        }
    }

    @-webkit-keyframes planePhone {
        0%{
            transform: scale(2);
            transform-origin: 34% -27%;
        }
        100%{
            transform: scale(2.1);
            transform-origin: 32% -23%;
        }
    }

    @-moz-keyframes planePhone {
        0%{
            transform: scale(2);
            transform-origin: 34% -27%;
        }
        100%{
            transform: scale(2.1);
            transform-origin: 32% -23%;
        }
    }

    #ground{
        transform: scale(3) translate(-33%, -18.5%);
    }

    #teacher{
        transform: scale(3) translate(-21%, -18%);
        -webkit-animation: teacherPhone 2.1s ease-in-out .5s infinite alternate;
        -moz-animation: teacherPhone 2.1s ease-in-out .5s infinite alternate;
        animation: teacherPhone 2.1s ease-in-out .5s infinite alternate
    }

    @keyframes teacherPhone {
        0%{
            transform: scale(3) translate(-21%, -18%);
        }
        100%{
            transform: scale(3) translate(-21%, -17.5%);
        }
    }

    @-webkit-keyframes teacherPhone {
        0%{
            transform: scale(3) translate(-18%, -18%);
        }
        100%{
            transform: scale(3) translate(-18%, -17.5%);
        }
    }

    @-moz-keyframes teacherPhone {
        0%{
            transform: scale(1.9) translate(-18%, -18%);
        }
        100%{
            transform: scale(1.9) translate(-18%, -17.5%);
        }
    }

    #desk{
        transform: scale(2.5) translate(-29%, -18.5%);
    }

    #child_ar{
        transform: scale(2.5);
        transform-origin: 48% 30%;
        -webkit-animation: child_arPhone 1.6s ease-in-out .5s infinite alternate;
        -moz-animation: child_arPhone 1.6s ease-in-out .5s infinite alternate;
        animation: child_arPhone 1.6s ease-in-out .5s infinite alternate
    }

    @keyframes child_arPhone {
        0%{
            transform: scale(2.5);
            transform-origin: 48% 30%;
        }
        100%{
            transform: scale(2.5);
            transform-origin: 48.6% 29.7%;
        }
    }

    @-webkit-keyframes child_arPhone {
        0%{
            transform: scale(2.5);
            transform-origin: 48% 30%;
        }
        100%{
            transform: scale(2.5);
            transform-origin: 48.6% 29.7%;
        }
    }

    @-moz-keyframes child_arPhone {
        0%{
            transform: scale(2.5);
            transform-origin: 48% 30%;
        }
        100%{
            transform: scale(2.5);
            transform-origin: 48.6% 29.7%;
        }
    }

    #robot{
        transform: scale(2);
        transform-origin: 34% 32%;
    }

    #child_wall{
        transform: scale(2.7);
        transform-origin: 68% 29.5%;
        -webkit-animation: child_wallPhone 2.5s ease-in-out .5s infinite alternate;
        -moz-animation: child_wallPhone 2.5s ease-in-out .5s infinite alternate;
        animation: child_wallPhone 2.5s ease-in-out .5s infinite alternate
    }

    @keyframes child_wallPhone {
        0%{
            transform: scale(2.7);
            transform-origin: 68% 29.5%;
        }
        100%{
            transform: scale(2.7);
            transform-origin: 68.9% 29.5%;
        }
    }

    @-webkit-keyframes child_wallPhone {
        0%{
            transform: scale(2.7);
            transform-origin: 68% 29.5%;
        }
        100%{
            transform: scale(2.7);
            transform-origin: 68.9% 29.5%;
        }
    }

    @-moz-keyframes child_wallPhone {
        0%{
            transform: scale(2.7);
            transform-origin: 68% 29.5%;
        }
        100%{
            transform: scale(2.7);
            transform-origin: 68.9% 29.5%;
        }
    }

    #child_vr{
        transform: scale(3);
        transform-origin: 81% 28%;
        -webkit-animation: child_vrPhone 1.6s ease-in-out .5s infinite alternate;
        -moz-animation: child_vrPhone 1.6s ease-in-out .5s infinite alternate;
        animation: child_vrPhone 1.6s ease-in-out .5s infinite alternate
    }

    @keyframes child_vrPhone {
        0%{
            transform: scale(3);
            transform-origin: 81% 28%;
        }
        100%{
            transform: scale(3);
            transform-origin: 81.3% 28.5%;
        }
    }

    @-webkit-keyframes child_vrPhone {
        0%{
            transform: scale(3);
            transform-origin: 81% 28%;
        }
        100%{
            transform: scale(3);
            transform-origin: 81.3% 28.5%;
        }
    }

    @-moz-keyframes child_vrPhone {
        0%{
            transform: scale(3);
            transform-origin: 81% 28%;
        }
        100%{
            transform: scale(3);
            transform-origin: 81.3% 28.5%;
        }
    }
}

/*tablette portrait*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    #roof{
        transform: scale(2.2);
        transform-origin: 49% 0%;
    }

    #window_left{
        transform: translate(-13%, 10%);
    }

    #window_right{
        transform: translate(15%);
    }

    #board{
        transform-origin: 49% -5%;
        transform: scale(2.5);
    }

    #plane{
        transform: scale(1.8);
        transform-origin: 35% -19%;
    }

    #ground{
        transform: scale(2.7) translate(-32%, -17.5%);
    }

    #teacher{
        transform: scale(2.8) translate(-19%, -17%);
    }

    #desk{
        transform: scale(2.2) translate(-29%, -18.5%);
    }

    #child_ar{
        transform: scale(2.3);
        transform-origin: 46% 32%;
    }

    #robot{
        transform: scale(1.6);
        transform-origin: 39% 38%;
    }

    #child_wall{
        transform: scale(2.4);
        transform-origin: 67% 30.5%;
    }

    #child_vr{
        transform: scale(2.6);
        transform-origin: 80% 29%;
    }

    #light-holo-1{
        transform: translate(30%, 10%) rotate(
                -96.5deg
        ) scaleX(2.7);
    }

    #hologram-1{
        transform: translate(35%, -16.7%) scale(0.8);
    }

    #hologram-text-title{
        transform: translate(36.5%, -7.3%);
    }

    #hologram-text{
        transform: translate(36.5%, -6.2%);
    }

    /*#hologram-1 .cls-1 #hologram .cls-2{*/
    /*    transform: scaleX(0.7) scaleY(1.9);*/
    /*}*/

    /*#hologram-1 .cls-1 #hologram .cls-3{*/
    /*    transform: scaleX(0.7) scaleY(1.9);*/
    /*}*/

    /*#hologram-1 .cls-1 #hologram .cls-4{*/
    /*    transform: scaleX(0.7) scaleY(1.9);*/
    /*}*/

    /*#hologram-1 .cls-1 #hologram .cls-5{*/
    /*    transform: translate(-7.1%, 0%);*/
    /*}*/
}

/*desktop small screen*/
@media only screen and (min-device-width : 1224px) and (max-device-width : 1823px){
    #desk{
        transform: translate(-4%, -1%);
    }

    #robot{
        transform: translate(-1%, -1%);
    }

    #teacher{
        transform: translate(-1%, 0%);
        -webkit-animation: teacherDesktop 2s ease-in-out .5s infinite alternate;
        -moz-animation: teacherDesktop 2s ease-in-out .5s infinite alternate;
        animation: teacherDesktop 2s ease-in-out .5s infinite alternate
    }

    @keyframes teacherDesktop {
        0%{
            transform: translate(-1%, 0%);
        }
        100%{
            transform: translate(-1%, 0.5%);
        }
    }

    @-webkit-keyframes teacherDesktop {
        0%{
            transform: translate(-1%, 0%);
        }
        100%{
            transform: translate(-1%, 0.5%);
        }
    }

    @-moz-keyframes teacherDesktop {
        0%{
            transform: translate(-1%, 0%);
        }
        100%{
            transform: translate(-1%, 0.5%);
        }
    }

    #board{
        -webkit-animation: boardDesktop 2s ease-in-out .5s infinite alternate;
        -moz-animation: boardDesktop 2s ease-in-out .5s infinite alternate;
        animation: boardDesktop 2s ease-in-out .5s infinite alternate
    }

    @keyframes boardDesktop {
        0%{
            transform:translate(0px,0px);
        }
        100%{
            transform:translate(10px,0px);
        }
    }

    @-webkit-keyframes boardDesktop {
        0%{
            transform:translate(0px,0px);
        }
        100%{
            transform:translate(10px,0px);
        }
    }

    @-moz-keyframes boardDesktop {
        0%{
            transform:translate(0px,0px);
        }
        100%{
            transform:translate(10px,0px);
        }
    }

    #plane{
        -webkit-animation: planeDesktop 1.75s ease-in-out .5s infinite alternate;
        -moz-animation: planeDesktop 1.75s ease-in-out .5s infinite alternate;
        animation: planeDesktop 1.75s ease-in-out .5s infinite alternate
    }

    @keyframes planeDesktop {
        0%{
            transform: translate(0px,0px);
        }
        100%{
            transform: translate(10px,10px);
        }
    }

    @-webkit-keyframes planeDesktop {
        0%{
            transform: translate(0px,0px);
        }
        100%{
            transform: translate(10px,10px);
        }
    }

    @-moz-keyframes planeDesktop {
        0%{
            transform: translate(0px,0px);
        }
        100%{
            transform: translate(10px,10px);
        }
    }

    #child_ar{
        -webkit-animation: child_arDesktop 2s ease-in-out .5s infinite alternate;
        -moz-animation: child_arDesktop 2s ease-in-out .5s infinite alternate;
        animation: child_arDesktop 2s ease-in-out .5s infinite alternate
    }

    @keyframes child_arDesktop {
        0%{
            transform: translate(0px,0px);
        }
        100%{
            transform: translate(10px,10px);
        }
    }

    @-webkit-keyframes child_arDesktop {
        0%{
            transform: translate(0px,0px);
        }
        100%{
            transform: translate(10px,10px);
        }
    }

    @-moz-keyframes child_arDesktop {
        0%{
            transform: translate(0px,0px);
        }
        100%{
            transform: translate(10px,10px);
        }
    }

    #child_wall{
        -webkit-animation: child_wallDesktop 2.3s ease-in-out .5s infinite alternate;
        -moz-animation: child_wallDesktop 2.3s ease-in-out .5s infinite alternate;
        animation: child_wallDesktop 2.3s ease-in-out .5s infinite alternate
    }

    @keyframes child_wallDesktop {
        0%{
            transform: translate(0px,0px);
        }
        100%{
            transform: translate(10px,0px);
        }
    }

    @-webkit-keyframes child_wallDesktop {
        0%{
            transform: translate(0px,0px);
        }
        100%{
            transform: translate(10px,0px);
        }
    }

    @-moz-keyframes child_wallDesktop {
        0%{
            transform: translate(0px,0px);
        }
        100%{
            transform: translate(10px,0px);
        }
    }

    #child_vr{
        -webkit-animation: child_vrDesktop 2.6s ease-in-out .5s infinite alternate;
        -moz-animation: child_vrDesktop 2.6s ease-in-out .5s infinite alternate;
        animation: child_vrDesktop 2.6s ease-in-out .5s infinite alternate
    }

    @keyframes child_vrDesktop {
        0%{
            transform: translate(0%,0%);
        }
        100%{
            transform: translate(0.4%,0.6%);
        }
    }

    @-webkit-keyframes child_vrDesktop {
        0%{
            transform: translate(0%,0%);
        }
        100%{
            transform: translate(0.4%,0.6%);
        }
    }

    @-moz-keyframes child_vrDesktop {
        0%{
            transform: translate(0%,0%);
        }
        100%{
            transform: translate(0.4%,0.6%);
        }
    }
}

/*desktop*/
@media only screen and (min-device-width : 1824px){
    #desk{
        transform: translate(-4%, -1%);
    }

    #robot{
        transform: translate(-1%, -1%);
    }

    #teacher{
        transform: translate(-1%, 0%);
        -webkit-animation: teacherDesktop 2s ease-in-out .5s infinite alternate;
        -moz-animation: teacherDesktop 2s ease-in-out .5s infinite alternate;
        animation: teacherDesktop 2s ease-in-out .5s infinite alternate
    }

    @keyframes teacherDesktop {
        0%{
            transform: translate(-1%, 0%);
        }
        100%{
            transform: translate(-1%, 0.5%);
        }
    }

    @-webkit-keyframes teacherDesktop {
        0%{
            transform: translate(-1%, 0%);
        }
        100%{
            transform: translate(-1%, 0.5%);
        }
    }

    @-moz-keyframes teacherDesktop {
        0%{
            transform: translate(-1%, 0%);
        }
        100%{
            transform: translate(-1%, 0.5%);
        }
    }

    #board{
        -webkit-animation: boardDesktop 2s ease-in-out .5s infinite alternate;
        -moz-animation: boardDesktop 2s ease-in-out .5s infinite alternate;
        animation: boardDesktop 2s ease-in-out .5s infinite alternate
    }

    @keyframes boardDesktop {
        0%{
            transform:translate(0px,0px);
        }
        100%{
            transform:translate(10px,0px);
        }
    }

    @-webkit-keyframes boardDesktop {
        0%{
            transform:translate(0px,0px);
        }
        100%{
            transform:translate(10px,0px);
        }
    }

    @-moz-keyframes boardDesktop {
        0%{
            transform:translate(0px,0px);
        }
        100%{
            transform:translate(10px,0px);
        }
    }

    #plane{
        -webkit-animation: planeDesktop 1.75s ease-in-out .5s infinite alternate;
        -moz-animation: planeDesktop 1.75s ease-in-out .5s infinite alternate;
        animation: planeDesktop 1.75s ease-in-out .5s infinite alternate
    }

    @keyframes planeDesktop {
        0%{
            transform: translate(0px,0px);
        }
        100%{
            transform: translate(10px,10px);
        }
    }

    @-webkit-keyframes planeDesktop {
        0%{
            transform: translate(0px,0px);
        }
        100%{
            transform: translate(10px,10px);
        }
    }

    @-moz-keyframes planeDesktop {
        0%{
            transform: translate(0px,0px);
        }
        100%{
            transform: translate(10px,10px);
        }
    }

    #child_ar{
        -webkit-animation: child_arDesktop 2s ease-in-out .5s infinite alternate;
        -moz-animation: child_arDesktop 2s ease-in-out .5s infinite alternate;
        animation: child_arDesktop 2s ease-in-out .5s infinite alternate
    }

    @keyframes child_arDesktop {
        0%{
            transform: translate(0px,0px);
        }
        100%{
            transform: translate(10px,10px);
        }
    }

    @-webkit-keyframes child_arDesktop {
        0%{
            transform: translate(0px,0px);
        }
        100%{
            transform: translate(10px,10px);
        }
    }

    @-moz-keyframes child_arDesktop {
        0%{
            transform: translate(0px,0px);
        }
        100%{
            transform: translate(10px,10px);
        }
    }

    #child_wall{
        -webkit-animation: child_wallDesktop 2.3s ease-in-out .5s infinite alternate;
        -moz-animation: child_wallDesktop 2.3s ease-in-out .5s infinite alternate;
        animation: child_wallDesktop 2.3s ease-in-out .5s infinite alternate
    }

    @keyframes child_wallDesktop {
        0%{
            transform: translate(0px,0px);
        }
        100%{
            transform: translate(10px,0px);
        }
    }

    @-webkit-keyframes child_wallDesktop {
        0%{
            transform: translate(0px,0px);
        }
        100%{
            transform: translate(10px,0px);
        }
    }

    @-moz-keyframes child_wallDesktop {
        0%{
            transform: translate(0px,0px);
        }
        100%{
            transform: translate(10px,0px);
        }
    }

    #child_vr{
        -webkit-animation: child_vrDesktop 2.6s ease-in-out .5s infinite alternate;
        -moz-animation: child_vrDesktop 2.6s ease-in-out .5s infinite alternate;
        animation: child_vrDesktop 2.6s ease-in-out .5s infinite alternate
    }

    @keyframes child_vrDesktop {
        0%{
            transform: translate(0%,0%);
        }
        100%{
            transform: translate(0.4%,0.6%);
        }
    }

    @-webkit-keyframes child_vrDesktop {
        0%{
            transform: translate(0%,0%);
        }
        100%{
            transform: translate(0.4%,0.6%);
        }
    }

    @-moz-keyframes child_vrDesktop {
        0%{
            transform: translate(0%,0%);
        }
        100%{
            transform: translate(0.4%,0.6%);
        }
    }
}

/*tablette ladscape*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1025px) and (orientation : landscape) {
    #roof{
        transform: scale(1.5);
        transform-origin: 49% 0%;
    }

    #window_left{
        transform: translate(-13%, 10%);
    }

    #window_right{
        transform: translate(15%);
    }

    #board{
        transform-origin: 49% -1%;
        transform: scale(1.7);
        -webkit-animation: boardTabL 1.8s ease-in-out .5s infinite alternate;
        -moz-animation: boardTabL 1.8s ease-in-out .5s infinite alternate;
        animation: boardTabL 1.8s ease-in-out .5s infinite alternate
    }

    @keyframes boardTabL {
        0%{
            transform-origin: 49% -1%;
            transform: scale(1.7);
        }
        100%{
            transform-origin: 50% -1%;
            transform: scale(1.7);
        }
    }

    @-webkit-keyframes boardTabL {
        0%{
            transform-origin: 49% -1%;
            transform: scale(1.7);
        }
        100%{
            transform-origin: 50% -1%;
            transform: scale(1.7);
        }
    }

    @-moz-keyframes boardTabL {
        0%{
            transform-origin: 49% -1%;
            transform: scale(1.7);
        }
        100%{
            transform-origin: 50% -1%;
            transform: scale(1.7);
        }
    }

    #plane{
        transform: scale(1.3);
        transform-origin: 43% -20%;
        -webkit-animation: planeTabL 1.75s ease-in-out .5s infinite alternate;
        -moz-animation: planeTabL 1.75s ease-in-out .5s infinite alternate;
        animation: planeTabL 1.75s ease-in-out .5s infinite alternate
    }

    @keyframes planeTabL {
        0%{
            transform: scale(1.3);
            transform-origin: 43% -20%;
        }
        100%{
            transform: scale(1.3);
            transform-origin: 41% -16%;
        }
    }

    @-webkit-keyframes planeTabL {
        0%{
            transform: scale(2);
            transform-origin: 34% -27%;
        }
        100%{
            transform: scale(2.1);
            transform-origin: 32% -23%;
        }
    }

    @-moz-keyframes planeTabL {
        0%{
            transform: scale(2);
            transform-origin: 34% -27%;
        }
        100%{
            transform: scale(2.1);
            transform-origin: 32% -23%;
        }
    }

    #ground{
        transform: scale(2.2) translate(-26%, -15.1%);
    }

    #teacher{
        transform: scale(1.9) translate(-18%, -13%);
        -webkit-animation: teacherTabL 2.1s ease-in-out .5s infinite alternate;
        -moz-animation: teacherTabL 2.1s ease-in-out .5s infinite alternate;
        animation: teacherTabL 2.1s ease-in-out .5s infinite alternate
    }

    @keyframes teacherTabL {
        0%{
            transform: scale(1.9) translate(-18%, -13%);
        }
        100%{
            transform: scale(1.9) translate(-18%, -12.5%);
        }
    }

    @-webkit-keyframes teacherTabL {
        0%{
            transform: scale(1.9) translate(-18%, -13%);
        }
        100%{
            transform: scale(1.9) translate(-18%, -12.5%);
        }
    }

    @-moz-keyframes teacherTabL {
        0%{
            transform: scale(1.9) translate(-18%, -13%);
        }
        100%{
            transform: scale(1.9) translate(-18%, -12.5%);
        }
    }

    #desk{
        transform: scale(1.6) translate(-20%, -14%);
    }

    #child_ar{
        transform: scale(1.7);
        transform-origin: 49% 33%;
        -webkit-animation: child_arTabL 1.6s ease-in-out .5s infinite alternate;
        -moz-animation: child_arTabL 1.6s ease-in-out .5s infinite alternate;
        animation: child_arTabL 1.6s ease-in-out .5s infinite alternate
    }

    @keyframes child_arTabL {
        0%{
            transform: scale(1.7);
            transform-origin: 49% 33%;
        }
        100%{
            transform: scale(1.7);
            transform-origin: 50% 32.5%;
        }
    }

    @-webkit-keyframes child_arTabL {
        0%{
            transform: scale(1.7);
            transform-origin: 49% 33%;
        }
        100%{
            transform: scale(1.7);
            transform-origin: 50% 32.5%;
        }
    }

    @-moz-keyframes child_arTabL {
        0%{
            transform: scale(1.7);
            transform-origin: 49% 33%;
        }
        100%{
            transform: scale(1.7);
            transform-origin: 50% 32.5%;
        }
    }

    #robot{
        transform: scale(1.2) translate(-7%, -1%);
    }

    #child_wall{
        transform: scale(1.7);
        transform-origin: 64% 33%;
        -webkit-animation: child_wallTabL 2.5s ease-in-out .5s infinite alternate;
        -moz-animation: child_wallTabL 2.5s ease-in-out .5s infinite alternate;
        animation: child_wallTabL 2.5s ease-in-out .5s infinite alternate
    }

    @keyframes child_wallTabL {
        0%{
            transform: scale(1.7);
            transform-origin: 64% 33%;
        }
        100%{
            transform: scale(1.7);
            transform-origin: 65.5% 33%;
        }
    }

    @-webkit-keyframes child_wallTabL {
        0%{
            transform: scale(1.7);
            transform-origin: 64% 33%;
        }
        100%{
            transform: scale(1.7);
            transform-origin: 65.5% 33%;
        }
    }

    @-moz-keyframes child_wallTabL {
        0%{
            transform: scale(1.7);
            transform-origin: 64% 33%;
        }
        100%{
            transform: scale(1.7);
            transform-origin: 65.5% 33%;
        }
    }

    #child_vr{
        transform: scale(1.7);
        transform-origin: 75% 28%;
        -webkit-animation: child_vr 1.6s ease-in-out .5s infinite alternate;
        -moz-animation: child_vr 1.6s ease-in-out .5s infinite alternate;
        animation: child_vr 1.6s ease-in-out .5s infinite alternate
    }

    @keyframes child_vr {
        0%{
            transform: scale(1.7);
            transform-origin: 75% 28%;
        }
        100%{
            transform: scale(1.7);
            transform-origin: 75.5% 28.9%;
        }
    }

    @-webkit-keyframes child_vr {
        0%{
            transform: scale(1.7);
            transform-origin: 75% 28%;
        }
        100%{
            transform: scale(1.7);
            transform-origin: 75.5% 28.9%;
        }
    }

    @-moz-keyframes child_vr {
        0%{
            transform: scale(1.7);
            transform-origin: 75% 28%;
        }
        100%{
            transform: scale(1.7);
            transform-origin: 75.5% 28.9%;
        }
    }

    #light-holo-1{
        transform: scale(1.2) translate(27%, 8.9%) rotate(-97deg);
    }

    #hologram-1{
        transform: translate(41%, -14%) scale(0.7);
    }

    #hologram-text-title{
        transform: translate(42%, -4.3%);
    }

    #hologram-text{
        transform: translate(42%, -3%);
    }

    @media only screen  and (min-device-width : 1824px) {
        #teacher{
            transform: scale(1.9) translate(-18%, -13%);
            -webkit-animation: teacherDesL 2.1s ease-in-out .5s infinite alternate;
            -moz-animation: teacherDesL 2.1s ease-in-out .5s infinite alternate;
            animation: teacherDesL 2.1s ease-in-out .5s infinite alternate
        }

        @keyframes teacherDesL {
            0%{
                transform: scale(1.9) translate(-18%, -13%);
            }
            100%{
                transform: scale(1.9) translate(-18%, -12.5%);
            }
        }

        @-webkit-keyframes teacherDesL {
            0%{
                transform: scale(1.9) translate(-18%, -13%);
            }
            100%{
                transform: scale(1.9) translate(-18%, -12.5%);
            }
        }

        @-moz-keyframes teacherDesL {
            0%{
                transform: scale(1.9) translate(-18%, -13%);
            }
            100%{
                transform: scale(1.9) translate(-18%, -12.5%);
            }
        }
    }
}


